<nav class="navbar sticky-top navbar-expand-lg">
    <div class="container-fluid">
      <img class="navbar-icon" src="assets/logo-nav.png">
      <a class="navbar-brand" href="/home">Re Accesorios</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/abtus">Sobre nosotros</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Productos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/scrun">Scrunchies</a></li>
              <li><a class="dropdown-item" href="/vin">Vinchas</a></li>
              <li><a class="dropdown-item" href="/cest">Cestas</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/otros">Otros</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>