<div class="container">
    <div class="div1">
<img src="assets/logo.png/">
<p class="text"> Emprendimiento de accesorios funcionales <br>para el pelo, la casa y vehículos.
    <br>Apostamos por lo duradero, el zero waste 
    <br>y la reutilización de textiles para darles otra vida.
</p>
    <p class="text"> Envíos a todo el país - Uruguay  <br> <button><a href="https://www.instagram.com/re.accesorios_/" target="_blank">Instagram</a></button> <button><a href="https://www.facebook.com/people/Reaccesorios_/100090780849241/" target="_blank">Facebook</a></button>  <button><a href="mailto:re.accesorios95@gmail.com">Email</a></button></p>
    </div>
</div>